.container {
  width: 80%;
  margin-inline: auto;
  padding: 1.5rem;
  background-color: var(--color-grey900);
  border-radius: 0.75rem;
  color: var(--color-white);
  position: absolute;
  top: 3.125rem;
  left: 1.25rem;
  right: 1.25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.top_container {
  display: flex;
  gap: 0.75rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.message {
  font-size: 1rem;
}

.show {
  opacity: 1;
}

@media (min-width: 48em) {
  .container {
    width: min(100% - 2rem, 28.125rem);
    left: 3.125rem;
    right: 3.125rem;
  }
}
