:root {
  --color-grey900: hsl(187, 24%, 22%);
  --color-grey500: hsl(186, 15%, 59%);
  --color-green600: hsl(169, 82%, 27%);
  --color-green200: hsl(148, 38%, 91%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 66%, 54%);
}
