:root {
  --color-grey900: hsl(187, 24%, 22%);
  --color-grey500: hsl(186, 15%, 59%);
  --color-green600: hsl(169, 82%, 27%);
  --color-green200: hsl(148, 38%, 91%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 66%, 54%);
}

/*custom fonts */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  src: url("./assets/fonts/static/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  src: url("./assets/fonts/static/Karla-Bold.ttf");
}

body {
  background-color: var(--color-green200);
  color: var(--color-grey900);
  font-family: "Karla";
  font-size: 1rem;
  font-size: clamp(1rem, 0.647887323943662rem + 1.5023474178403755vw, 2rem);
}

main {
  background-color: var(--color-white);
}
