:root {
  --color-grey900: hsl(187, 24%, 22%);
  --color-grey500: hsl(186, 15%, 59%);
  --color-green600: hsl(169, 82%, 27%);
  --color-green200: hsl(148, 38%, 91%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 66%, 54%);
}

/*custom fonts */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  src: url("./assets/fonts/static/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  src: url("./assets/fonts/static/Karla-Bold.ttf");
}

body {
  background-color: var(--color-green200);
  color: var(--color-grey900);
  font-family: "Karla";
  font-size: clamp(0.875rem, 0.8rem + 0.5vw, 1.125rem);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-block: clamp(1rem, 2vw + 0.5rem, 2rem);
}

@media (min-width: 48em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
}
